// pop弹出框样式
.publish-pop {
    width: 260px;
}
.tag-pop {
    width: 320px;
}

// tag弹窗样式
.tag-modal {
    .ant-modal-header {
        padding: 10px;
    }
    .ant-modal-close-x {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    .ant-modal-body {
        padding: 15px 24px;
    }
}
