/*
    定义全局变量及样式
*/

@import './base.css';
@import './font.less';
@import './app.less';

@primary-white: #fff;  // 白色
@primary-blank: #001529; // 黑色
@border-color: #f3f3f3; // 边框色
@link-color: #40a9ff; // 链接跳转色
@danger-color: #ff7875; // 微信操作提示色
