/* stylelint-disable */
/** 解决横向滚动条问题 */
.wrap-class {
    >.el-scrollbar__view {
        overflow-x: hidden;
    }
}

::view-transition-new(root),
::view-transition-old(root) {
/* 关闭默认动画，否则影响自定义动画的执行 */
   animation: none;
}

.list-form {
    // 下拉框默认宽度
    .el-select__wrapper {
        width: 220px;
    }
    // 输入框默认宽度
    .el-input__wrapper {
        width: 220px;
    }
    // 表单按钮
    .form-btn {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
}