@use 'element-plus/theme-chalk/dark/css-vars.css';
@use 'element-plus/theme-chalk/src/message.scss';
@use 'element-plus';
@use 'base';
@use 'transtion';

::view-transition-new(root),
::view-transition-old(root) {
  /* 关闭默认动画，否则影响自定义动画的执行 */
  animation: none;
}

::view-transition-old(root) {
  z-index: 1;
}

.dark::view-transition-new(root) {
  z-index: 100;
}

/* 灰色滤镜 */
.grey {
  filter: grayscale(100%);
  -webkit-filter: grayscale(80%);
}

/* 头部iocn */
.header-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none !important;
  width: 36px;
  height: 52px;
  cursor: pointer;
}
.header-icon:hover {
  background-color: var(--el-fill-color);
}

.error-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  .error-message {
    &-btn {
      margin-top: 30px;
    }
  }
}
