@import url('./theme.less');
@import url('./element.less');
@import url('./base.less');

/*
  进入和离开动画可以使用不同
  持续时间和速度曲线。
*/
.slide-fade-enter-active {
  transition: all 0.4s ease-out;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

/* 灰色滤镜 */
.gray {
  filter: grayscale(100%);
}

// 内容默认样式
.content-info {
  background-color: var(--el-bg-color);
  padding: 20px;
  border-radius: 5px;
  height: calc(100vh - 122px);
}

// 错误页面默认样式
.error-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  >img {
    width: 30%;
  }
}

// 分页默认样式
.pagination {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}

// 
.drawer-footer {
  text-align: center;
  margin-top: 36px;
}